[submodule "PX4-Autopilot"]
	path = PX4-Autopilot
	url = https://github.com/Peize-Liu/PX4-Autopilot.git
	branch = develop
[submodule "Nxt-FC-Hardware"]
	path = Nxt-FC-Hardware
	url = https://github.com/Peize-Liu/NxtPX4-Hardware.git
	branch = main
