[submodule "PX4-Autopilot"]
	path = PX4-Autopilot
	url = git@github.com:Peize-Liu/PX4-Autopilot.git
	branch = develop
[submodule "NxtPX4-Hardware"]
	path = NxtPX4-Hardware
	url = git@github.com:Peize-Liu/NxtPX4-Hardware.git
	branch = main
